                                        /* basic setup */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {

    height: 100%;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
    font-family: 'Amatic SC', cursive;
    background-color: #fcf7e8;
    /* overflow: auto; */
    /* background-image: url("css_media/crowd_faces_top.png");
    background-size: contain;
    background-repeat: no-repeat; */

}

.wrapper {
    border: 1px solid red;

    /* display: flex;
    justify-content: center;    */

    width: 96%;
    min-height: 500vh;
    margin: 0 auto;

}

                                                /* central figure */


.buffalo_man {
    position: fixed;
    width: 35%;
    height: 60%;
    bottom: 0;
    right: 0;
    margin-right: 30%;
    filter: drop-shadow(.5vh .5vw .5vh #151716);

}

#buffalo_2 {
    display: none;
}

#buffalo_1:hover #buffalo_2 {
    display: block
}


/* 
#fixed-character-mobile {
    display: none;
    position: fixed;
    width: 60vw;
    height: 20vh;
    bottom: 0;
    left: 0;
    filter: drop-shadow(.5vh .5vw .5vh #151716);
} */